/*el boton naranja del inicio*/
.elboton {
    align-items: center;
    background-image: linear-gradient(144deg, #ffb703, #fb8500 50%, #e85d04);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(251, 133, 0, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    line-height: 1em;
    width: 170px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.1s;
}

.elboton:active,
.elboton:hover {
    outline: 0;
    color: black;
}

.elboton .elspan {
    background-color: rgb(5, 6, 45);
    padding: 10px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.elboton:hover .elspan {
    background: none;
}

.elboton:active {
    transform: scale(0.9);
}

.btn {
    border-radius: 12px;
}


.boton-publicar {
    box-shadow: 6px 6px 14px 1px black;
    background-color: white;
}

.publicar {
    transition: transform 0.2s ease-out, stroke 0.2s ease;
    stroke: #146ef0;
}

/* para cuando pase el raton por encima del boton, entonces el svg hace lo que haya dentro */
.boton-publicar:hover .publicar {
    transform: translateY(-6px);
    stroke: white;
}

.boton-retirar {
    box-shadow: 6px 6px 14px 1px black;
    background-color: white;
}

.retirar {
    transition: transform 0.2s ease-out, stroke 0.2s ease;
    stroke: #dc3545;
}

.boton-retirar:hover .retirar {
    transform: translateY(6px);
    stroke: white;
}

.basura {
    stroke: #dc3545;
}

.boton-basura:hover .basura {
    stroke: white;
}


/*boton de like de rutas*/
.like {
    transition: transform 0.2s ease;
}

.like:hover {
    transform: scale(1.2);
}
