.elboton {
    align-items: center;
    background-image: linear-gradient(144deg, #ffb703, #fb8500 50%, #e85d04);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(251, 133, 0, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    line-height: 1em;
    width: 170px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.1s;
}

.elboton:active,
.elboton:hover {
    outline: 0;
    color: black;
}

.elboton .elspan {
    background-color: rgb(5, 6, 45);
    padding: 10px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.elboton:hover .elspan {
    background: none;
}

.elboton:active {
    transform: scale(0.9);
}


/*boton de favoritos*/
.label-fav {
    background-color: #181c27;
    display: flex;
    align-items: start;
    gap: 14px;
    padding: 8px 12px;
    cursor: pointer;
    user-select: none;
    /*border: 2px solid #cccccc;*/
    border-radius: 10px;
    box-shadow: black 3px 3px 10px 1px;
    color: white;
    width: fit-content;
}

.input-fav {
    display: none;
}

.input-fav:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
}

@keyframes heartButton {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.input-fav + .label-fav .action {
    position: relative;
    overflow: hidden;
    display: grid;
}

.input-fav + .label-fav .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
}

.input-fav + .label-fav .action span.option-1 {
    transform: translate(0px,0%);
    opacity: 1;
}

.input-fav:checked + .label-fav .action span.option-1 {
    transform: translate(0px,-100%);
    opacity: 0;
}

.input-fav + .label-fav .action span.option-2 {
    transform: translate(0px,100%);
    opacity: 0;
}

.input-fav:checked + .label-fav .action span.option-2 {
    transform: translate(0px,0%);
    opacity: 1;
}