.iniciodesesion {
    max-width: 330px;
    padding: 1rem;
    height: 100%;
}

.formulariousuarios {
    max-width: 530px;
    padding: 1rem;
    height: 100%;
    justify-content: center;
}

.texto {
    text-align: center;
}