 body {
    background-color: #2b3035;
    margin: 0px;
    color: white;
}
h1 {
    color: red;
}
/*label {
    display: inline-block;
    width: 4em;
}
table {
    font-size: 20px;
}
th {
    background-color: black;
    color: white;
}
tr:nth-child(odd) {
    background-color: darkblue;
}
tr:nth-child(even) {
    background-color: darkgray;
}*/