html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #181c27;
    margin: 0;
    color: white;
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
}

.page-wrapper {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.nav-link {
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
}

.nav-link:hover {
    transform: translateY(-6px);
}

.elheader {
    background-color: #202534;
}

.titulo {
    text-align: center;
    margin-top: 200px;
}