html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #181c27;
    margin: 0;
    color: white;
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
}

.page-wrapper {
    flex: 1 0 auto;
}

.ellogo {
    transition: transform 0.2s ease;
}

.ellogo:hover {
    transform: scale(1.1);
}

footer {
    flex-shrink: 0;
}

.nav-link {
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
}

.nav-link:hover {
    transform: translateY(-6px);
}

.elheader {
    background-color: #202534;
}

.titulo {
    text-align: center;
    margin-top: 200px;
}

/*para el color de la dificultad*/
.dificultad-facil {
    color: #00ff00;
}

.dificultad-media {
    color: yellow;
}

.dificultad-dificil {
    color: red;
}

.lafoto {
    height: 200px; /* Altura fija para todas */
    object-fit: cover; /* Recorta la imagen para llenar el espacio */
    object-position: center; /* Enfoca la parte central de la imagen */
    width: 100%; /* Ancho completo del card */
    border-radius: 20px;
}


.error {
    background-color: #660000;
    border-radius: 40px;
    width: 700px;
    align-content: center;
    box-shadow: 6px 6px 10px 10px black;
}

.card {
    border-radius: 20px;
    box-shadow: 4px 4px 10px 1px black;
    transition: transform 0.1s ease-in-out;
}

.card:hover {
    transform: scale(1.015);
}